imports:
    - { resource: parameters.yml }
    - { resource: assetic.yml    }
    - { resource: databases.yml  }
    - { resource: mailer.yml     }
    - { resource: security.yml   }
    - { resource: twig.yml       }

framework:
    #esi:             ~
    translator:      { fallback: "%locale%" }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: "%kernel.debug%"
    form:            true
    csrf_protection: true
    validation:      { enable_annotations: true }
    templating:      { engines: ['twig'] } #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trust_proxy_headers: false # Deprecated in 2.0; will be removed in 2.3 (used trusted_proxies instead)
    trusted_proxies: ~
    session:
        save_path: %kernel.root_dir%/sessions

sensio_framework_extra:
    router:  { annotations: false }
    request: { converters:  true  }
    view:    { annotations: true  }
    cache:   { annotations: false }

parameters:
    project.root_dir:       %kernel.root_dir%/..
    project.components_dir: %kernel.root_dir%/Resources/components
    project.packages_dir:   %project.root_dir%/node_modules
